In [1]:
import serial
import time
import keyboard

import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt

In [2]:
# connect with Arduino

ser = serial.Serial('COM3', 9600, timeout=1)
time.sleep(1)

In [3]:
# read write the serial connection at a given sampling rate

def write_read(x):
    ser.write(bytes(x, 'utf-8'))
    time.sleep(0.05)
    data = ser.readline()
    return data

In [4]:
# start to control the Arduino while collecting the data

values=[]
timestamp=[]
i= True
num = '0'
print("Press <1> to switch power on")
print("Press <0> to switch power off")
print("Press <q> to quit")
print(".............................")

while i:  # making a loop
    
    if keyboard.is_pressed('q'):  # if key 'q' is pressed 
        print('')
        print('You Pressed <q>uit!')
        i = False                 # finishing the loop
        
    elif keyboard.is_pressed('0'): # if key '0' is pressed
        num = '0'
        
    elif keyboard.is_pressed('1'): # if key '1' is pressed
        num = '1'
        
    else:
        value = write_read(num)  # if user pressed a key other than the given key the loop will break
        timestamp.append(time.time())
        dummy = value.decode().rstrip().split()
        dum0 = np.array([[int(j)/1024*5 for j in dummy[1:]]])
        print(pd.to_datetime(time.time(), unit= 's'),dummy, dum0[0], '            ', end = "\r")
        values.append(dummy)

ser.close()

Press <1> to switch power on
Press <0> to switch power off
Press <q> to quit
.............................
2022-07-27 13:54:31.349939200 ['power_on', '955', '557', '0'] [4.66308594 2.71972656 0.        ]             ['power_on', '956', '557', '0'] [4.66796875 2.71972656 0.        ]
You Pressed <q>uit!

#

In [5]:
timestamp[len(timestamp)-1]-timestamp[0]
df = pd.DataFrame(values, index = pd.to_datetime(timestamp, unit = 's'), columns = ['systemState','VoltageA0','VoltageA1','VoltageA2'])
df["VoltageA0"] = pd.to_numeric(df["VoltageA0"], errors='coerce', downcast="float")
df["VoltageA1"] = pd.to_numeric(df["VoltageA1"], errors='coerce', downcast="float")
df["VoltageA2"] = pd.to_numeric(df["VoltageA2"], errors='coerce', downcast="float")

df["VoltageA0"] = df["VoltageA0"]/1024*5
df["VoltageA1"] = df["VoltageA1"]/1024*5
df["VoltageA2"] = df["VoltageA2"]/1024*5
df.describe()

         VoltageA0    VoltageA1  VoltageA2
count  1417.000000  1417.000000     1417.0
mean      4.300876     2.505389        0.0
std       1.254290     0.730681        0.0
min       0.000000     0.000000        0.0
25%       4.663086     2.714844        0.0
50%       4.667969     2.719727        0.0
75%       4.667969     2.719727        0.0
max       4.672852     2.724609        0.0

In [6]:
#df.to_excel("C:/Users/Admin/Pythonprojects/RAMS/data/Arduino_trainingset_deploymentNormalopen.xlsx")

In [7]:
dummy[0]

'power_on'

#