In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import serial
import time
import keyboard
from IPython.display import clear_output

In [2]:
# connect to Arduino

ser = serial.Serial('COM3', 9600, timeout=1) #check whether the Arduino is really connected with COM3 or adjust the code to the correct COM
                                             #check at settings and check whether Arduino is a connected device
time.sleep(2)

In [3]:
# read write the serial connection at a given sampling rate

def write_read(x):                  #this function takes an input x, which is a switch command and it returns data from the Arduino
    ser.write(bytes(x, 'utf-8'))    #pass the command to Arduino by the serial connection
    data = ser.readline()           #take data from Arduino
    return data                     #return the data to be processed further

In [4]:
values = []
timestamp = []

num = '1'                           #power supply = True

for i in range(0,10):
    clear_output(wait=True)
    value = write_read(num)
    dummy = value.decode().rstrip().split()                                     # transform the byte values that came in...
    values.append(dummy)
    timestamp.append(time.time())
    #dum0 = np.array([[int(j)/1024*5 for j in dummy[1:]]])
    print(pd.to_datetime(time.time(), unit= 's'),dummy, 
    #dum0[0],
          '            ', end = "\r")
    
num = '0'

for i in range(0,10):
    clear_output(wait=True)
    value = write_read(num)
    dummy = value.decode().rstrip().split()                                     # transform the byte values that came in...
    values.append(dummy)
    timestamp.append(time.time())
    # dum0 = np.array([[int(j)/1024*5 for j in dummy[1:]]])
    print(pd.to_datetime(time.time(), unit= 's'),value, 
    #dum0[0],
          '            ', end = "\r")
    
    
ser.close()       #close the serial port when the reading is stopped. If not done, reconnection with the Arduino is not possible

In [5]:
df = pd.DataFrame(values, 
                  #index = pd.to_datetime(timestamp, unit = 's'), 
                  index = [x-timestamp[0] for x in timestamp],
                  columns = ['S','V0','V1','V2'])
df.iloc[:,1:] = df.iloc[:,1:].astype(int).div(1024/5)

In [6]:
#df.to_excel('kanweg.xlsx')

In [7]:
df

           S        V0        V1   V2
0.000000   1  4.995117       0.0  0.0
1.017684   1  4.995117  0.043945  0.0
2.042856   1  4.995117  0.087891  0.0
3.061769   1  4.995117  0.136719  0.0
4.086524   1  4.995117  0.185547  0.0
5.109448   1  4.995117  0.229492  0.0
6.128644   1  4.995117  0.273438  0.0
7.155774   1  4.995117  0.322266  0.0
8.178420   1  4.995117  0.366211  0.0
9.203319   1  4.995117  0.410156  0.0
10.230922  0       0.0  0.449219  0.0
11.259148  0       0.0  0.449219  0.0
12.276126  0       0.0  0.439453  0.0
13.309080  0       0.0   0.43457  0.0
14.319486  0       0.0   0.43457  0.0
15.337065  0       0.0  0.424805  0.0
16.355977  0       0.0  0.424805  0.0
17.378512  0       0.0  0.415039  0.0
18.391016  0       0.0  0.415039  0.0
19.421673  0       0.0  0.410156  0.0