In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import serial
import time
import keyboard
from IPython.display import clear_output

In [2]:
# connect to Arduino

ser = serial.Serial('COM3', 9600, timeout=1) #check whether the Arduino is really connected with COM3 or adjust the code to the correct COM
                                             #check at settings and check whether Arduino is a connected device
time.sleep(2)

In [3]:
# read write the serial connection at a given sampling rate

def write_read(x):                  #this function takes an input x, which is a switch command and it returns data from the Arduino
    ser.write(bytes(x, 'utf-8'))    #pass the command to Arduino by the serial connection
    data = ser.readline()           #take data from Arduino
    return data                     #return the data to be processed further

In [4]:
values = []
timestamp = []

num = '1'                           #power supply = True

for i in range(0,10):
    clear_output(wait=True)
    value = write_read(num)
    dummy = value.decode().rstrip().split()                                     # transform the byte values that came in...
    values.append(dummy)
    timestamp.append(time.time())
    #dum0 = np.array([[int(j)/1024*5 for j in dummy[1:]]])
    print(pd.to_datetime(time.time(), unit= 's'),dummy, 
    #dum0[0],
          '            ', end = "\r")
    
num = '0'

for i in range(0,10):
    clear_output(wait=True)
    value = write_read(num)
    dummy = value.decode().rstrip().split()                                     # transform the byte values that came in...
    values.append(dummy)
    timestamp.append(time.time())
    # dum0 = np.array([[int(j)/1024*5 for j in dummy[1:]]])
    print(pd.to_datetime(time.time(), unit= 's'),value, 
    #dum0[0],
          '            ', end = "\r")
    
    
ser.close()       #close the serial port when the reading is stopped. If not done, reconnection with the Arduino is not possible

In [5]:
df = pd.DataFrame(values, 
                  #index = pd.to_datetime(timestamp, unit = 's'), 
                  index = [x-timestamp[0] for x in timestamp],
                  columns = ['S','V0','V1','V2','V3'])
df.iloc[:,1:] = df.iloc[:,1:].astype(int).div(1024/5)

In [6]:
df.to_excel('kanweg.xlsx')

In [7]:
df

           S        V0        V1        V2   V3
0.000000   1  4.995117       2.5       0.0  0.0
1.024846   1  4.990234  3.061523  1.108398  0.0
2.054575   1  4.990234  3.481445  1.958008  0.0
3.083044   1  4.990234  3.798828  2.597656  0.0
4.110518   1  4.995117  4.038086  3.071289  0.0
5.138924   1  4.995117   4.21875  3.442383  0.0
6.161775   1  4.995117  4.365234  3.740234  0.0
7.182993   1  4.995117  4.477539  3.964844  0.0
8.211245   1  4.995117  4.575195  4.145508  0.0
9.233247   1  4.995117  4.648438  4.296875  0.0
10.253920  0       0.0  2.202148  4.414062  0.0
11.280857  0       0.0  1.708984  3.427734  0.0
12.314317  0       0.0  1.333008  2.675781  0.0
13.340932  0       0.0  1.040039  2.089844  0.0
14.361446  0       0.0  0.805664  1.630859  0.0
15.395482  0       0.0  0.634766   1.28418  0.0
16.420437  0       0.0  0.498047  1.005859  0.0
17.449116  0       0.0  0.390625  0.786133  0.0
18.469879  0       0.0  0.307617  0.615234  0.0
19.498815  0       0.0  0.234375  0.478516  0.0