In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import serial
import time
import keyboard
from IPython.display import clear_output

In [2]:
# connect to Arduino

ser = serial.Serial('COM3', 9600, timeout=1) #check whether the Arduino is really connected with COM3 or adjust the code to the correct COM
                                             #check at settings and check whether Arduino is a connected device
time.sleep(2)

In [3]:
# read write the serial connection at a given sampling rate

def write_read(x):                  #this function takes an input x, which is a switch command and it returns data from the Arduino
    ser.write(bytes(x, 'utf-8'))    #pass the command to Arduino by the serial connection
    data = ser.readline()           #take data from Arduino
    return data                     #return the data to be processed further

In [4]:
values = []
timestamp = []

for j in range(0,2):
    num = '1'                           #power supply = True
    switchtime = time.time()

    for i in range(0,10):
        timestamp.append(time.time()- switchtime)
        clear_output(wait=True)
        value = write_read(num)
        dummy = value.decode().rstrip().split()                                     # transform the byte values that came in...
        values.append(dummy)
        #dum0 = np.array([[int(j)/1024*5 for j in dummy[1:]]])
        print(pd.to_datetime(time.time(), unit= 's'),dummy, 
        #dum0[0],
              '            ', end = "\r")
    
    num = '0'
    switchtime = time.time()
    
    for i in range(0,10):
        timestamp.append(time.time()- switchtime)
        clear_output(wait=True)
        value = write_read(num)
        dummy = value.decode().rstrip().split()                                     # transform the byte values that came in...
        values.append(dummy)
        # dum0 = np.array([[int(j)/1024*5 for j in dummy[1:]]])
        print(pd.to_datetime(time.time(), unit= 's'),value, 
        #dum0[0],
              '            ', end = "\r")
    
    
ser.close()       #close the serial port when the reading is stopped. If not done, reconnection with the Arduino is not possible

In [5]:
df = pd.DataFrame(values, 
                  index = timestamp,
                  columns = ['S', 'V0_measured', 'V1_measured', 'V2_measured'])
df.iloc[:,1:] = df.iloc[:,1:].astype(int).div(1024/5)

In [8]:
#df.to_excel('kanweg.xlsx')

In [7]:
df.iloc[:30,:]

          S V0_measured V1_measured V2_measured
0.000000  1    4.995117    4.667969    4.326172
1.025012  1    4.995117    4.746094    4.487305
2.052483  1    4.995117    4.799805    4.604492
3.078557  1    4.995117    4.848633    4.692383
4.104397  1    4.995117     4.87793    4.760742
5.127140  1    4.995117    4.907227    4.814453
6.149997  1    4.995117    4.926758    4.853516
7.169579  1    4.995117    4.936523    4.882812
8.201067  1    4.995117    4.956055    4.912109
9.226753  1    4.995117    4.960938    4.931641
0.000000  0         0.0    2.480469    4.946289
1.026565  0         0.0    1.928711    3.852539
2.051419  0         0.0    1.508789    3.017578
3.071841  0         0.0    1.176758    2.363281
4.102139  0         0.0    0.922852    1.850586
5.121914  0         0.0    0.727539    1.455078
6.153328  0         0.0    0.566406    1.142578
7.173815  0         0.0    0.449219    0.898438
8.196474  0         0.0    0.351562    0.708008
9.221674  0         0.0     0.27832    0.561523
0.000000  1    4.990234    2.719727    0.449219
1.022105  1    4.990234    3.227539    1.459961
2.041703  1    4.995117    3.613281    2.241211
3.063193  1    4.995117    3.916016    2.841797
4.086257  1    4.995117    4.145508    3.305664
5.123195  1    4.995117    4.335938    3.676758
6.143205  1    4.995117    4.477539    3.955078
7.174460  1    4.995117    4.589844     4.18457
8.201540  1    4.995117    4.677734    4.360352
9.232888  1    4.995117    4.746094    4.492188

In [12]:
table = None
table = pd.read_excel('kanweg.xlsx', index_col=0)
table['time'] = table.index
    
X = table.select_dtypes(include='number')
#y = pd.get_dummies(table.select_dtypes(exclude='number') )
#y.drop(columns='Health_state_H', inplace=True)

ValueError: No objects to concatenate

In [11]:
X

          S  V0_measured  V1_measured  V2_measured      time
0.000000  1     4.995117     4.667969     4.326172  0.000000
1.025012  1     4.995117     4.746094     4.487305  1.025012
2.052483  1     4.995117     4.799805     4.604492  2.052483
3.078557  1     4.995117     4.848633     4.692383  3.078557
4.104397  1     4.995117     4.877930     4.760742  4.104397
5.127140  1     4.995117     4.907227     4.814453  5.127140
6.149997  1     4.995117     4.926758     4.853516  6.149997
7.169579  1     4.995117     4.936523     4.882812  7.169579
8.201067  1     4.995117     4.956055     4.912109  8.201067
9.226753  1     4.995117     4.960938     4.931641  9.226753
0.000000  0     0.000000     2.480469     4.946289  0.000000
1.026565  0     0.000000     1.928711     3.852539  1.026565
2.051419  0     0.000000     1.508789     3.017578  2.051419
3.071841  0     0.000000     1.176758     2.363281  3.071841
4.102139  0     0.000000     0.922852     1.850586  4.102139
5.121914  0     0.000000     0.727539     1.455078  5.121914
6.153328  0     0.000000     0.566406     1.142578  6.153328
7.173815  0     0.000000     0.449219     0.898438  7.173815
8.196474  0     0.000000     0.351562     0.708008  8.196474
9.221674  0     0.000000     0.278320     0.561523  9.221674
0.000000  1     4.990234     2.719727     0.449219  0.000000
1.022105  1     4.990234     3.227539     1.459961  1.022105
2.041703  1     4.995117     3.613281     2.241211  2.041703
3.063193  1     4.995117     3.916016     2.841797  3.063193
4.086257  1     4.995117     4.145508     3.305664  4.086257
5.123195  1     4.995117     4.335938     3.676758  5.123195
6.143205  1     4.995117     4.477539     3.955078  6.143205
7.174460  1     4.995117     4.589844     4.184570  7.174460
8.201540  1     4.995117     4.677734     4.360352  8.201540
9.232888  1     4.995117     4.746094     4.492188  9.232888
0.000000  0     0.000000     2.309570     4.599609  0.000000
1.029223  0     0.000000     1.791992     3.574219  1.029223
2.053084  0     0.000000     1.396484     2.797852  2.053084
3.079606  0     0.000000     1.088867     2.187500  3.079606
4.110636  0     0.000000     0.854492     1.708984  4.110636
5.131357  0     0.000000     0.668945     1.337891  5.131357
6.151294  0     0.000000     0.527344     1.054688  6.151294
7.180903  0     0.000000     0.410156     0.825195  7.180903
8.203539  0     0.000000     0.322266     0.649414  8.203539
9.223471  0     0.000000     0.253906     0.507812  9.223471